
/*.project img {
  width: 520px;
  height: 860px;
}*/
/*nav area*/
.logo-small img{
  height: 50px;
}
/*nav Area*/

p {
    font-size: 1.65em;
    color: #333
}

.medium p {
    font-size: 1.65em;
    color: #333
}


/*map2*/
.map{
    position: relative;
    width: 100%;
    top: 0;
    /*left: 40vw;*/
    height: 40vh;
    overflow: hidden;
    display: block;
}

.big-map{
        height: 100%;
        width: 100%;
        display: block;

}


/*.carousel-inner > .item > img*/
.section > .title-area > .description >  {
    font-size: 1.65em;
    color: #333
    font-weight:bold;
}

@media (max-width: 768px) {
p {
    font-size: 1.4em!important;
    color: #333
}

}

/*.title-area2{
    padding-top: 0!important;
}*/

.row {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

/*Containers*/
.about-container{
  background:  linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('../img/residential/kitchen_large.jpg') center no-repeat;
  padding-top: 5vh;
  padding-bottom: 2vh;
  padding-left: 5vw;
  padding-right: 5vw;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
 -webkit-background-size: cover;
  height: 100vh
}

.intro-container{
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 5vw;
  padding-right: 5vw;
}
.residential-container {
  padding-bottom: 5vh
}

.commercial-container{
    padding-top: 5vh;
}

.client-container{
  padding-top: 5vh;
  padding-bottom: 5vh;

}

.scuba-container{
    padding-top: 5vh;
    padding-bottom: 2vh;
}

.container-scuba{
margin-left: 0px;
margin-right:0px:
}

.team-container{
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.contact-container2{
  padding-top: 50px;
  padding-bottom: 50px;
}

.bottom_container {
  /*background: linear-gradient(141deg, #ff5665, #3477ff, #0054ff);*/
  background: linear-gradient(140deg, #111010, #ce7575, #f22020);
  animation: fadeBackground 10s ease infinite;
  background-size: 600%;
}

.parralax-text{
position: relative;
z-index: 2;
/*top: 200px;*/
}

.section {
  /*background: linear-gradient(141deg, #ff5665, #3477ff, #0054ff);
  height: 100%;
  background-color: #3023ae;
  background-size: 200% 200%;
  animation: fadeBackground 30s ease infinite;*/
}

/*sectopms*/
.section-contact-us{
/*margin-bottom: 50px;*/
padding-top:6.375em;
padding-bottom:6.375em;

/*background: linear-gradient(141deg, #ff5665, #3477ff, #0054ff);
height: 100%;
background-color: #3023ae;
background-size: 200% 200%;
animation: fadeBackground 30s ease infinite;*/
}

/*background-wrapper {
    background: linear-gradient(141deg, #ff5665, #3477ff, #0054ff);
    height: 100%;
    background-color: #3023ae;
    background-size: 200% 200%;
    animation: fadeBackground 30s ease infinite;
}*/
/*scuba Area*/

@keyframes fadeBackground {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 83% 90%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.test  {
z-index: 2
}

.test p {
  color: blue;
}

.white h1,
.white h2,
.white h3,
.white h4,
.white h5,
.white p {
  color: 	#FFFFFF;
}

.white p {
    font-size: 16px;
    font-weight:bold;
}
/* carosel area */
.container_carousel {
  width: 100%;
  height:100%;
  /*width:00vw*/
  padding-right: 0px;
  padding-left: 0px;
}

.container_nav {
  padding-left: 15px;
}
.carousel {
  height: 500px;
  /*margin-bottom: 60px;*/
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  position:absolute;
  bottom: 15vh;
  z-index: 10;
}


.section-contact-3 {
	position: relative;
	overflow: hidden;
	margin-top: 30px;
	padding-bottom: 0;
}

.contact-container {
		position: relative;
}

.address-container{
			position: absolute;
			left: 0;
			width: 40%;
			height: 570px;
			background-color: rgba(255,255,255,0.75);
			z-index: 3;
			padding: 20px 20px 20px 60px;
}

.address {
	text-align: center;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 60vh;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}

.title-area {
  padding-top:4.375em;
  padding-bottom:4.375em;
}

.title-area-contact {
  padding-top:4.375em;
}

.row-intro {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.row1 {
    padding-top: 5vh;
}

.row2 {
    padding-bottom: 5vh;
}

.title-area .description p {
color: 	#FFFFFF;
}

.title-area .description2 p {
color: 	#FFFFFF;
}

.description2 p {
    color:	#FFFFFF;

}
/* Declare heights because of positioning of img element */
@media (min-width: 768px) {
  .home-container {
    height: 100vh;
  }
}
